@import url('https://fonts.googleapis.com/css?family=Merriweather');

@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro');

@import 'variables';

p {
    font-family: $font-body;
}

body {
    background: url('../images/background.jpg');
    background-size: cover;
}

header {
    height: 100px;
}

body {
    font-family: sans-serif;
}

main {
    margin: 0 auto;
    background-color: rgb(226, 226, 226);
}

h1 {
    border-bottom: 4px double $white;
    padding: 1%;
}

.personal-pic {
    margin: auto;
    padding: 1%;

    img {
        height: 150px;
        width: 150px;
    }
}

.personal-info {
    margin: auto;
    padding: 0.5%;
}

// navbar
nav {
    background-color: $nav-background;
    color: $white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: $white;
    text-decoration: none;
}

nav ul li a:hover {
    color: $nav-hover;
}

.about {
    margin: auto;
    padding: 1%;
    display: flex;
}

.footer{
    i {
        padding-top: 5px;
    }

    a{
        color: $black;
    }
}

ul li a {
    color: $black;
}

ul li a:hover {
    color: $nav-background;
}

.lucky {
    margin: auto;
    padding: 1%;
}

@keyframes bounceVertical {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.welcome {
color: rgb(218, 196, 0);
animation: bounceVertical 2s infinite;
}

.number {
color: rgb(200, 0, 130);
animation: bounceVertical 2s infinite;
}

@keyframes bounceHorizontal {
    0% { transform: translateX(0); }
    50% { transform: translateX(20px); }
    100% { transform: translateX(0); }
}

.magic-number {
    animation: bounceHorizontal 2s infinite;
}

.column {
    flex: 1;
    padding: 20px;
}

/**
 * Kmom02
 */
/*
body {
    margin: 0 auto;
    max-width: 800px;
    background-color: #eee;
    font-size: 2em;
}*/

main {
    padding: 5em;
}

input {
    font-size: 1em;
}

h1 {
    border-bottom: 4px double green;
}

.die {
    font-size: 3em;
}

ul.dicearea {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.dicearea li {
    display: inline;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.card {
    font-size: 4em;
}

.card-red {
    font-size: 4em;
    color: red;
}

ul.cardarea {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.cardarea li {
    display: inline;
}

.uml {
    display: flex;
    justify-content: space-around;
}
