{% extends 'base.html.twig' %}

{% block title %}Update Book{% endblock %}

{% block body %}
    <h1>Update Book</h1>
    <form action="{{ path('book_update') }}" method="post">
        <div>
            <input type="hidden" id="bookId" name="bookId" value="{{ app.request.query.get('bookId') }}">
        </div>
        <div>
            <label for="bookName">New Book Name:</label>
            <input type="text" id="bookName" name="bookName" required>
        </div>
        <div>
            <label for="authorName">New Author Name:</label>
            <input type="text" id="authorName" name="authorName" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
{% endblock %}
