{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
    <h1>Me</h1>
    <div class="personal-info">
        <a class="personal-pic" href="{{ asset('img/pp.png') }}">
            <img src="{{ asset('img/pp.png') }}" alt="">
        </a>
        <p>
            Hej! Mitt namn är Mo bn. Född och uppvuxen i Idleb, Syrien.
            Jag gillade schack och har deltagit i internationella mästerskap.
            Jag har varit städare, diskare, servitör och kock.
            Programmering har alltid intresserat mig sedan 15-årsåldern och brukade jag leka med software och systemen Om jag skall nämna någon hobby, förutom webbprogrammering, så är det design och videoframställning Till och från får jag för mig att börja på lite hobbies, så gillar jag att simma och träna calisthenics.
        </p>
    </div>
{% endblock %}