{% extends "baseproject.html.twig" %}

{% block title %}Project{% endblock %}

{% block main %}
<h1>Setup Blackjack</h1>
    <p>How many players?</p>
    <p>1 -> 6</p>

    <form method="post" action="{{ path('proj_game_init') }}">
        <label for="num_players">Number of Players:</label>
        <input type="number" id="num_players" name="num_players" min="1" max="6" required>
        <br>
        <button type="submit">Start Game</button>
    </form>
{% endblock %}

